#{extends 'main.html' /}

#{set title:'Cadastro de Projeto' /}

<h1>Atendimento: ${atendimento.nome}</h1>
<h4>Data de início: ${atendimento.inicio}</h4>


<hr />

<form action="@{AtendimentosMembros.salvar}" method="post">

	<input type="hidden" name="atendimentoId" value="${atendimento.id}" />

	<select name="pessoaId">
		#{list items:pessoas, as:'p'}
			<option value="${p.id}">${p.nome}</option>
		#{/list}
	</select>
	
	<input type="submit" value="Associar membro" />
</form>

<hr />

<h4>Membros desse Atendimento:</h4>
<ul>
	#{list items:atendimento.membros, as:'m'}
		<li>${m.nome} | <a href="@{AtendimentosMembros.remover(atendimento.id, m.id)}">Remover</a></li>
	#{/list}
	#{else}
		<li>Nenhum membro registrado.</li>
	#{/else}
</ul>
